#required
networkx
pandas
numpy
h5py
#optional
rasterio
scipy
Cython
graphviz
geopandas
pytest
https://github.com/flowmatters/openwater/archive/master.zip
https://github.com/flowmatters/taudem-py/archive/master.zip